<%= render 'jumbotron', title: "Edit Activity" %>

<div class="container pb-5">
  <%= render 'form', activity: @activity %>
  <hr class="my-5">
  <%= link_to 'Back', activities_path, :class => 'btn btn-secondary btn-lg' %>
</div>
